@model TopTravel.Banner

@{
    ViewBag.Title = "Details";
}

<h1 class="h3 mb-2 text-gray-800">Details</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4>Banner</h4>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
