@model TopTravel.Roll

@{
    ViewBag.Title = "Delete";
}

<h1 class="h3 mb-2 text-gray-800">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4>Roll</h4>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RollName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RollName)
            </dd>

        </dl>
    </div>
</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-secondary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

